  
  /* Set a base font size and line height */
  body {
    font-size: 16px;
    line-height: 1.5;
    background-color: #c7e9fe;
  }

#wrapper{
    width:80%;
    background-color: white;
    margin:-2% auto;
   
}
  
  /* Style the header */
  header {
    padding: 20px;
    height: 10vh;
    background-color: #a0b9cf;
  }
  
  /* Style the book navigation container */
  .book-nav-container {
    background-color: #f2f2f2;
    padding: 10px;
    position: absolute;
    top: 10;
    /* left: 0; */
    height: 100%;
    width: 12vw;
    background-color: #dad0fd;
    overflow-y: scroll;
}

#meal-list {
    font-family: 'Playfair Display', serif;
    width: 20vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.book-nav-container::-webkit-scrollbar {
    width: 10px;
}
.book-nav-container::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 5%;
}

  /* Style the book navigation list */
  #book-nav {
    list-style-type: none;
    justify-content: center;
    padding: 10px 0;
  }
  
  #book-nav li {
    line-height: 2.7em;
    font-size: 1.1em;
  }

  #book-nav li:hover {
    background-color: blue;
    cursor: pointer;
  }
  
  /* Style the main content */
  .main-content {
    max-width: 800px;
    margin-left: 240px;
    padding: 20px;
  }

  /* Style the about section */
  .main-content > div:first-child {
    margin-bottom: 20px;
  }
  
  /* Style the featured release section */
  .featured-release {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .book-cover-container {
    flex: 0 0 200px;
    margin-right: 20px;
  }
  
  #book-cover {
    max-width: 100%;
    height: auto;
  }
  
  #book-detail-card {
    flex: 1;
  }
  
  .book-submission-content {
    flex: 1;
    margin-right: 20px;
  }
  
  .book-submission-container {
    flex: 1;
  }

  #mainForm{
    width:50%;
    padding: 5%;
    border:2px solid;
    border-radius: 1.3%;
    background-color: #838181;
    margin: 20px auto;
  }
  
  .book-form {
    display: flex;
    flex-direction: column;   
    margin: 20px auto;
  }
  
  .book-form label {
    margin-bottom: 10px;
  }
  
  .book-form input,
  .book-form textarea {
    margin-bottom: 20px;
    padding: 2%;
  }

  textarea {
    font-size: .75em;
    resize: vertical;
    width: 95%;
  }
  
  .book-form button {
    width: 9vw;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin: 20px auto;
  }
  